<app-header-admin></app-header-admin>
<body>
  <div class="search">
    <!-- ช่องค้นหาจากชื่อเกม -->
    <div class="search-container">
      <input
        type="text"
        [(ngModel)]="searchByName"
        placeholder="ค้นหาชื่อเกม"
        class="search-input"
      />
    </div>

    <!-- ช่องค้นหาจากประเภทเกม -->
    <div class="search-container">
      <input
        type="text"
        [(ngModel)]="searchByType"
        placeholder="ค้นหาประเภทเกม"
        class="search-input"
      />
    </div>
  </div>

  <div class="game-container">
    <div
      class="game-card"
      *ngFor="let game of getFilteredGames(); trackBy: trackByGameId"
    >
      <a [routerLink]="['/detailadmin', game.id]" class="game-link">
        <img [src]="getImage(game.Gimage)" [alt]="game.Gname" />
        <!-- <img
          [src]="game.Gimage || 'assets/images/default.jpg'"
          
        /> -->
        <div class="game-name">{{ game.Gname }}</div>
        <div class="text">ประเภท: {{ game.category }}</div>
        <!-- <div *ngIf="isTop5(game.id)" class="game-name top-5">
        ขายดี อันดับ {{ game.rank }}
      </div> -->
        <div class="price-cart-row">
          <div class="price">ราคา: {{ game.Gprice }}</div>
        
        </div>
        <div class="footer">
          <div class="text">
  ว่างจำหน่าย:
  {{ game.releasedate | date: 'dd/MM/yyyy HH:mm' }}
</div>
          <div class="text">ขายไปแล้ว: {{ game.sold }}</div>
        </div>
      </a>
    </div>
  </div>
</body>
