<app-header></app-header>

<body>
  <div class="con">
    <div class="user-profile-card">
      <div *ngIf="user; else loading">
        <img
          *ngIf="user.image"
          [src]="webService.getImageUrl(user.image)"
          class="user-image"
          alt="User Image"
        />
        <div>Email: {{ user.email }}</div>
        <div>Name: {{ user.username }}</div>
        <div>Role: {{ user.role }}</div>
        <div>Balance: {{ user.balance | number : "1.0-2" }} บาท</div>

        <a routerLink="/money" class="but">เติมตัง</a>
        <button (click)="logout()" class="logout">ออกจากระบบ</button>
      </div>
      <ng-template #loading>
        <p>กำลังโหลดข้อมูลผู้ใช้...</p>
      </ng-template>
    </div>

    <div *ngIf="topupHistory.length > 0; else noHistory">
      <h3>ประวัติการทำรายการ</h3>
      <ul class="payment-history-list">
        <li *ngFor="let transaction of topupHistory" class="payment-item">
          <div class="type">
            ประเภท:
            <span
              [ngClass]="{
                topup: transaction.type === 'เติมเงิน',
                game: transaction.type === 'ซื้อเกม'
              }"
              >{{ transaction.type }}</span
            >
          </div>
          <div class="amount">
            จำนวนเงิน: {{ transaction.money | number : "1.0-2" }} บาท
          </div>
          <div class="date">
            วันที่: {{ transaction.date | date : "short" }}
          </div>
        </li>
      </ul>
    </div>
    <ng-template #noHistory>
      <p>ยังไม่มีประวัติการเติมเงิน</p>
    </ng-template>
  </div>
</body>
